<div id="dashboard">
  <div class="nav">
    <a href="#!/dashboard">Back to Polls</a>
    <a href="" ng-click="logout()">Logout</a>
  </div>
  <div id="question">
    <h3>{{ question.question }}</h3>
    <p>Click the Vote button to choose one.</p>
    <br>
    <table>
      <thead>
        <th>Option</th>
        <th>Current Vote Count</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr ng-repeat="option in question._options track by $index">
          <td>{{ option.option }}</td>
          <td>{{ option.votes }}</td>
          <td><button ng-click="addVote(option._id, $index)">Vote</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
